// ----------------------------------------------------------
// 2-TOOLS: globally available tools, public mixins, helper functions
// ----------------------------------------------------------

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.text-white {
  color: #fff !important;
}

.vertical-align {
  display: flex;
  align-items: center;
}
